
<h1>Add a city</h1>
<p>Add a city here:</p>

<form action="/cities" method="post">
  <label for="cityName">Category name</label>
  <input id="cityName" name="cityName" type="text">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/cities">Back to cities.</a></p>